language: php
php:
  - "5.5"
  - "5.6"
  - "7.0"
  - "7.1"

before_script:
  - composer require satooshi/php-coveralls
  - composer install --dev --no-interaction
script:
  - mkdir -p build/logs
  - ./vendor/bin/phpunit tests/ --coverage-clover build/logs/clover.xml
after_success:
  - travis_retry php vendor/bin/coveralls
notifications:
  emails:
    - asiagohan34@gmail.com
  on_success: change
  on_failure: always
